extends ../layouts/layout-main

block config
    - var pageTitle = "test";

block content
    #testcanvas.jtk-demo-canvas.canvas-wide.flowchart-demo.jtk-surface.jtk-surface-nopan
        #flowchartWindow1.window.jtk-node
            strong 1
            br
            br
        #flowchartWindow2.window.jtk-node
            strong 2
            br
            br
        #flowchartWindow3.window.jtk-node
            strong 3
            br
            br
        #flowchartWindow4.window.jtk-node
            strong 4
            br
            br
